<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Admin's Login</title>
    <link
      rel="stylesheet"
      href="/stylesheets/style.css" />
  </head>
  <body>
    <div
      class="w-full h-screen bg-red-200 flex items-center justify-center"
      id="main">
      <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold text-gray-700 text-center mb-6">
          Login as a Admin
        </h2>
        <form
          action="/adminLogin"
          method="POST"
          class="space-y-4">
          <div>
            <label
              for="username"
              class="block text-sm font-medium text-gray-600"
              >Username</label
            >
            <input
              type="text"
              id="username"
              name="username"
              class="block w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Enter your username"
              required />
          </div>
          <div>
            <label
              for="ID"
              class="block text-sm font-medium text-gray-600"
              >ID</label
            >
            <input
              type="text"
              id="ID"
              name="ID"
              class="block w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Enter your Admin's ID"
              required />
          </div>
          <div>
            <label
              for="password"
              class="block text-sm font-medium text-gray-600"
              >Password</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="block w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Enter your password"
              required />
          </div>
          <button
            type="submit"
            value="Login"
            class="w-full px-4 py-2 text-white bg-indigo-500 rounded-lg hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300">
            Login
          </button>
        </form>
        <p class="mt-4 text-sm text-gray-500 text-center">
          Don't have an account?
          <a
            href="/adminReg"
            class="text-indigo-500 hover:underline"
            >Sign Up as Admin</a
          >
        </p>
        <p class="mt-4 text-sm text-gray-500 text-center">
          <a
            href="/login"
            class="text-indigo-500 hover:underline"
            >Login as a User</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
