<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="/stylesheets/style.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html,
      body {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Admin's Home Page</h1>
      <p class="text-gray-600 mb-8">
        Join us today to explore amazing features!
      </p>
      <div class="flex items-center justify-between flex-col gap-5">
        <a
          href="/adminLogin"
          class="px-6 py-2 m-2 bg-indigo-500 text-white font-medium text-lg rounded-lg hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300">
          Login as a Admin
        </a>
        <a
          href="/adminReg"
          class="px-6 py-2 m-2 bg-green-500 text-white font-medium text-lg rounded-lg hover:bg-green-600 focus:ring-4 focus:ring-green-300">
          Sign Up as a Admin
        </a>
        <a
          href="/adminLogout"
          class="px-6 py-2 m-2 bg-green-500 text-white font-medium text-lg rounded-lg hover:bg-green-600 focus:ring-4 focus:ring-green-300">
          Logout
        </a>
      </div>
    </div>
  </body>
</html>
